
.content {
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
    height: 100vh;

    font-family: "Roboto", sans-serif;
}

/* sidebar */
.sidebar {
    background: #1992d4;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    color: white;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 16px;
    min-width: 240px;
}

.logo {
    /* font-family: go3; */
    font-size: 36px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.persikka {
    position: relative;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar img {
    width: 24px;
    filter: invert();
}

.options > div{
    display: flex;
    align-items: center;
    gap: 16px;
    
}
/* header */
.header {
    background: #ffffff;
    grid-area: 1 / 2 / 2 / 3;
}

.main {
    background: #e2e8f0;
    grid-area: 2 / 2 / 3 / 3;
}

@font-face {
	font-family: go3;
	src: url("./fonts/go3v2.ttf");
}
